SPOT4-clip.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT4.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT1-clip.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT1.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT2-clip.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT2.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT3-clip.mp4 filter=lfs diff=lfs merge=lfs -text
SPOT3.mp4 filter=lfs diff=lfs merge=lfs -text
